.home-wrapper {
    padding-top: 60px;
    padding-bottom: 15px;

    .login-info {
        display: flex;
        align-items: center;
        justify-content: end;
        position: fixed;
        top: 0;
        right: 0;
        padding: 2px;
        background-color: #242424;
        width: 100%;
        z-index: 9999999;

        p {
            margin: 0;
        }

        img {
            border-radius: 50%;
            width: 32px;
            height: 32px;
            margin-left: 5px;
            margin-right: 5px;
        }

        button {
            height: fit-content;
        }
    }

    .playlists {
        margin-top: 33px;
    }

    .loader-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .loader {
        width: 64px;
        height: 64px;
        position: relative;
        margin: 100px auto;
        background-image:
                linear-gradient(#fcfcfc 16px, transparent 0) ,
                linear-gradient(#1db954 16px, transparent 0) ,
                linear-gradient(#1db954 16px, transparent 0) ,
                linear-gradient(#fcfcfc 16px, transparent 0);
        background-repeat: no-repeat;
        background-size: 16px 16px;
        background-position: left top , left bottom , right top , right bottom;
        animation: rotate 1s linear infinite;
    }
    @keyframes rotate {
        0% {
            width: 64px;
            height: 64px;
            transform: rotate(0deg)
        }
        50% {
            width: 30px;
            height: 30px;
            transform: rotate(180deg)
        }
        100% {
            width: 64px;
            height: 64px;
            transform: rotate(360deg)
        }
    }
}
